.card {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  width: 300px;
  background-color: #fff !important;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  cursor: pointer;
  gap: 15px;
}
.card:hover {
  transform: translateY(-7px);
  transition: 0.1s;
}
.imgContainer {
  width: 100%;
  position: relative;
  height: 140px;
}

.header-card {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
  margin-bottom: 0.35em;
  color: red!important;
}


.header-text {
  margin: 0;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: black !important;
  white-space: normal;

}

.contentCard {
height: 44px;
  margin-top: 10px;
  text-align: center;
  min-height: 44px;
  font-size: 20px;
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  .card {
    width: 40%;
    padding: 10px 5px;
    gap: 0;
  }
  .imgContainer {
    height: 80px;
  }
  .contentCard {
    font-size: 16px;
    margin: 0;
  }
}